<mat-toolbar>
  <section><h1>Task Management App</h1></section>

  <section class="add-new-card">
    <button mat-button>+Add another list</button>
  </section>
</mat-toolbar>

<main class="container">
  <section class="cards-section">
    <section
      class="in-progress-section cards"
      *ngFor="let eachTask of tasksList"
    >
      <mat-card>
        <mat-card-title class="card-title in-progress-color">
          {{ eachTask.categoryName }}</mat-card-title
        >
        <mat-card-content>
          <mat-card class="sub-cards" *ngFor="let subTask of eachTask.tasks"
            > 
            <span>{{ subTask.taskName }}</span>
          </mat-card>
        </mat-card-content>
        <mat-card-footer>
          <a href="javascript:void(0)" (click)="openDialog()"> +Add a card </a>
        </mat-card-footer>
      </mat-card>
    </section>
  </section>
</main>
