@import '~/src/styles.scss';

.container {
  width: 90%;
  margin: 1vw auto;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.mat-toolbar {
  background: $white;
  border-bottom: 1px solid $border;
  justify-content: space-between;
  color: $toolbar-text;
  h1 {
    font-weight: bold;
  }
}

.mat-card {
  background: $white;
}

.mat-button {
  background: $heading;
  color: $border;
}

.cards {
  width: 30%;
  margin-top: 2%;
  &:first-of-type {
    margin-left: 0;
  }
}

.sub-cards {
  margin-top: 1vw;
  background: $sub-cards-background;
  span {
    color: $sub-cards-text;
  }
}

.sub-cards.mat-card {
  box-shadow: none;
  border: 1px solid $mat-cards;
}

.mat-card-footer {
  text-align: center;
  padding: 15% 15% 8% 15%;
}

.mat-card-title {
  padding-bottom: 6%;
  margin-bottom: 6%;
  color: $heading;
}
